<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-on': livre.isOn, 'is-off': !livre.isOn}">
    <ion-card-header>{{ livre.name}}</ion-card-header>
    <ion-card-content>
      <p> {{ livre.auteur }}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button
                full
                color="danger"
                [disabled]="!livre.isOn"
                (click)="onToggleLivre()">Prêter
        </button>
      </ion-col>
      <ion-col>
        <button ion-button
                full
                color="secondary"
                [disabled]="livre.isOn"
                (click)="onToggleLivre()">Rendre
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



