<ion-header>
  <ion-navbar>
    <ion-title>
    Page d'acceuil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<button ion-button [navPush] = "bookListPage">Livres</button>
</ion-content>
