<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Livres</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <button ion-item
          icon-start
          *ngFor="let livre of livresList; let i = index"
          (click)="onLoadLivre(i)">
    <ion-icon name="power" [color]="livre.isOn ? 'secondary' : 'danger' "></ion-icon>
    {{ livre.name}}
  </button>
</ion-list>

</ion-content>
<ion-footer padding>
  <p>Bas de page</p>
</ion-footer>
