page-lend-cd{
  .is-on{
    ion-card-content, ion-card-header, ion-grid{
      background-color: #eeffee;
    }
  }
  .is-off{
    ion-card-content, ion-card-header, ion-grid{
      background-color: #ffeeee;
    }
  }
}
