<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-on': cd.isOn, 'is-off': !cd.isOn}">
    <ion-card-header>{{ cd.name}}</ion-card-header>
    <ion-card-content>
      <p>{{ cd.realisateur }}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button
                full
                color="danger"
                [disabled]="!cd.isOn"
                (click)="onToggleCd()">Prêter</button>
      </ion-col>
      <ion-col>
        <button ion-button
                full
                color="secondary"
                [disabled]="cd.isOn"
                (click)="onToggleCd()">Rendre</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


