<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>CD</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <button ion-item
          *ngFor="let cd of cdList; let i = index"
          (click)="onLoadCd(i)" >
    <ion-icon name="power" [color]="cd.isOn ? 'secondary' : 'danger'"></ion-icon>
    {{cd.name}}</button>
</ion-list>

</ion-content>
<ion-footer padding>
  <p>Bas de page</p>
</ion-footer>
